/* ===========common-css start========== */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
.i-center{
    align-items: center;
}
/* ===========common-css end========== */
/* ===========navber start========== */
nav{
    background: #EEEDDE;
    padding: 25px 0px !important;
}
.navbar-nav{
    column-gap: 100px;
    margin-left: auto;
}
.nav-link{
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #203239;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 300;
}
.nav-link:hover{
    color: #000;
    font-weight: 400;
}

/* ===========navber end============ */
/* ===========banner start============ */
.banner{
    background: #EEEDDE;
    padding: 30px 0px;
}

.banner-content h1{
    font-size: 56px;
    font-family: "Poppins", serif;
    font-weight: 600;
    line-height: 150%;
    color: #000;
}

.banner-content p{
    padding: 24px 0px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 200;
    color: #203239;
    width: 520px;
    line-height: 190%;
}
.banner-search{
    position: relative;
}
.banner-search i{
    font-size: 25px;
    position: absolute;
    top: 17px;
    left: 19px;

}
.banner-search input{
    width: 70%;
    padding: 20px 130px 20px 49px;
    border-radius: 13px;
    border: transparent;
}
.banner-search button{
    background: #203239;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: transparent;
    position: absolute;
    top: 10px;
    right: 272px;
    box-shadow: 0px 3px 4px #203239;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
}

.bennar-image img{
    width: 100%;
}

/* ===========banner end============ */
/* ===========client-part start============ */

/* ===========client-part end============ */
/* ===========Community-part start============ */
.Community-part{
    padding: 40px 0px;
}
.community{
    text-align: center;
}
.community h1{
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #4D4D4D;
    width: 535px;
    margin: 0 auto;
    padding-bottom: 8px;
}
.community p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #4D4D4D;
    padding-bottom: 16px;
    width: 623px;
    margin: 0 auto;
}
.card{
    padding: 40px 60px;
    text-align: center;
    box-shadow: 0px 1px 2px -1px;
    border: none;
}
.card img{
    width: 20%;
    margin: 0 auto;
}
.card h1{
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #4D4D4D;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 230px;
    margin: 0 auto;
}

.card p{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #717171;
}
/* ===========Community-part end============ */
/* ===========unlock-part start============ */
.unlock{
    padding: 40px 0px;
}
.unlock h1{
    font-size: 36px;
    width: 580px;
}
.unlock p{
    width: 660px;
    padding-top: 8px;
    padding-bottom: 0px;
}
/* ===========unlock-part end============ */
/* ===========Achivment-part end============ */

.achivment{
    background: #F5F7FA;
    padding: 64px 0px;
    margin: 40px 0px;
}
.achivment h1{
    font-size: 36px;
    width: 380px;
}
.achivment p{
    padding: 0px;
    color: #18191F;
    margin: 0px;
}
.rusalt-content{
    display: flex;
    column-gap: 90px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.rusalt{
    display: flex;
    column-gap: 16px;
    align-items: center;
}
.rusalt h2{
    margin: 0;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #4D4D4D;
}
.rusalt p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #717171;
}
.last{
    padding-left: 35px;
}
/* ===========Achivment-part end============ */
/* ===========Customar-part end============ */
.customar{
    background: #F5F7FA;
}
.customar .bennar-content h3{
    color: #4CAF4F;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.customar .bennar-content .customar-logo ul{
    display: flex;
    column-gap: 30px;
    justify-content: start;
    list-style: none;
    padding: 25px 0px;
}

.customar .meet{
    align-self: center;
    margin: 0px;
}
/* ===========Customar-part end============ */
/* ===========Customar-update start============ */
.customar-update{
    padding-top: 40px;
} 
.frame img{
    width: 100%;
}
.frame .card{
    background: #F5F7FA;
    width: 375px;
    margin: 0 auto;
    transition: .4s;
    top: 0px;
    opacity: 0;
}
.frame:hover .card{
    top: -100px;
    opacity: 1;
}
.frame .card h6{
    color: #717171;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.frame .card a{
    color: #7aaf7c;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.frame .card a:hover{
    color: #4CAF4F;
}
/* ===========Customar-update end============ */
/* ===========Demo-part end============ */
.demo{
    text-align: center;
    background: #F5F7FA;
    padding: 32px 0px;
}
.demo .common-button h1{
    font-size: 64px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    width: 834px;
    margin: 0 auto;
    padding-bottom: 16px;
}
/* ===========Demo-part end============ */
/* ===========Footer-part start============ */
.footer{
    background: #263238;
    padding: 65px 0px;
}
.footer .footer-content p{
    color: #F5F7FA;
    padding: 40px 0px;
    width: 220px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 35px;
    margin: 0px;
}
.footer .footer-image{
        display: flex;
        column-gap: 16px;
}
.footer .footer-image img{
    border-radius: 50%;
    background: #515B60;
    padding: 8px;
    width: 35px;

}
.footer .colum h5{
    color: #F5F7FA;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-bottom: 6px;
}
.footer .colum ul{
    list-style: none;
    padding: 0px 5px;
}
.footer .colum ul li{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #F5F7FA;
    padding: 6px 0px;
}
.footer .colum .from input{
    padding: 4px 9px;
    border-radius: 5px;
    background: #515B60;
    border: transparent;
    color: #D9DBE1;
    position: relative;
}
.footer .colum .from button{
    background: transparent;
    border: transparent;
    position: absolute;
    right: 413px;
    padding-top: 2px;
}
/* ===========Footer-part end============ */
