/* ===========common-css start========== */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
.i-center{
    align-items: center;
}
/* ===========common-css end========== */
/* ===========navber start========== */
nav{
    background: #EEEDDE;
    padding: 25px 0px !important;
}
.navbar-nav{
    column-gap: 100px;
    margin-left: auto;
}
.navbar-nav li{
    position: relative;
}
.navbar-nav li::before{
    position: absolute;
    bottom: -2px;
    right: 24%;
    width: 40%;
    height: 3px;
    background: #F6762E;
    content: "";
    opacity: 0;
    transition: .3s;
}
.navbar-nav li:hover:before{
    width: 100%;
    opacity: 1;
    right: 0;
}
.nav-link{
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #203239;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 300;
}
.nav-link:hover{
    color: #000;
    font-weight: 400;
}

/* ===========navber end============ */
/* ===========banner start============ */
.banner{
    background: #EEEDDE;
    padding: 30px 0px;
}

.banner-content h1{
    font-size: 56px;
    font-family: "Poppins", serif;
    font-weight: 600;
    line-height: 150%;
    color: #000;
}

.banner-content p{
    padding: 24px 0px;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 200;
    color: #203239;
    width: 520px;
    line-height: 190%;
}
.banner-search{
    position: relative;
}
.banner-search i{
    font-size: 25px;
    position: absolute;
    top: 17px;
    left: 19px;

}
.banner-search input{
    width: 70%;
    padding: 20px 130px 20px 49px;
    border-radius: 13px;
    border: transparent;
}
.banner-search button{
    background: #203239;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: transparent;
    position: absolute;
    top: 10px;
    right: 272px;
    box-shadow: 0px 3px 4px #203239;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 500;
}

.count{
    padding-top: 55px;
}
.count h1{
    font-size: 56px;
    font-family: "Poppins", serif;
    font-weight: 600;
}
.count span{
    color: #F6762E;
}
.count p{
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 200;
    color: #203239;
    width: 54%;
    line-height: 165%;
}

.bennar-image img{
    width: 100%;
}

/* ===========banner end============ */

/* ===========Footer-part start============ */

/* ===========Footer-part end============ */
